<div class="task2">
    <div *ngFor="let item of dataService.items"
         class="task2__result-blocks">
        <ng-container *ngIf="item.result">
            <div [innerHTML]="item.result"
                  class="task2__result"></div>
        </ng-container>
    </div>
</div>