<div class="homework">
  <textarea rows="10" [(ngModel)]="content"></textarea>
  <button type="submit" (click)="parseTemplate()">Parse Template</button>

  <div class="homework__inputs-block">
    <div *ngFor="let item of dataService.items" class="homework__input">
      <label>
        <span class="homework__caption">{{ item.title }}</span>
        <input type="text" [(ngModel)]="item.value">
      </label>
    </div>
  </div>

  <button type="submit" (click)="displayResult()">Display result</button>

  <ng-container *ngIf="showResult">
    <div *ngFor="let item of dataService.items"
         class="homework__result-block">
      <span>{{ item.result }}</span>
    </div>
  </ng-container>

  <a href="javascript:void(0);" [routerLink]="['./task2']">Task2</a>
</div>
