.homework {

  &__inputs-block {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
  }

  &__input {
    display: flex;
    max-width: 100%;
    margin: 5px 10px;
  }

  &__caption {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }

  &__result-block {
    margin-top: 5px;
  }
}
